snippet { "Matching braces" iA
{$1}$2
endsnippet

snippet ( "Matching parentheses" iA
($1)$2
endsnippet

snippet [ "Matching brackets" iA
[$1]$2
endsnippet

snippet "\"" "Matching double quotes" riA
"$1"$2
endsnippet

snippet ' "Matching single quoutes" iA
'$1'$2
endsnippet
