snippet { "Matching braces" 
{$1}$0
endsnippet

snippet ( "Matching parentheses" 
($1)$0
endsnippet

snippet [ "Matching brackets" 
[$1]$0
endsnippet

snippet "\"" "Matching double quotes" r
"$1"$0
endsnippet

snippet ' "Matching single quoutes"
'$1'$0
endsnippet
