snippet { "Matching braces" A
{$1}$0
endsnippet

snippet ( "Matching parentheses" A
($1)$0
endsnippet

snippet [ "Matching brackets" A
[$1]$0
endsnippet

snippet " "Matching double quotes" A
"$1"$0
endsnippet

snippet ' "Matching single quoutes" A
'$1'$0
endsnippet
