#!/bin/bash

liquidctl initialize --pump-mode quiet all
liquidctl -m NZXT set fan1 speed 20
liquidctl -m NZXT set fan2 speed 20
liquidctl -m NZXT set fan3 speed 20
liquidctl -m Corsair set fan1 speed 20
liquidctl -m Corsair set fan2 speed 20

source ~/.screenlayout/screenlayout.sh
