snippet " "Pair of quoutes" A
"$1"$0
endsnippet

snippet { "Pair of braces" A
{$1}$0
endsnippet


snippet ( "Pair of parentheses" A
($1)$0
endsnippet

snippet [ "Pair of brackets" A
[$1]$0
endsnippet
